<div class="section-container align-center">
  <h2 class="section-title">Editar Gênero</h2>

  <%= form_with model: @genre, html: { class: "form" } do |form| %>
    <div class="name">
      <%= form.label :name, "Nome do Gênero" %>
      <%= form.text_field :name %>
    </div>
    <div class="submit">
      <%= form.submit "Salvar", class: "submit-button main-button" %>
    </div>
  <% end %>
</div>

