<section class='section-container align-center'>

  <h2 class='section-title'>Cadastrar novo Gênero</h2>

  <%= form_with model: Genre.new, html: { class: "form" } do |form| %>

    <div class="name">
      <%= form.label :name, "Nome do Gênero:" %>
      <%= form.text_field :name %>
    </div>

    <div class="submit">
      <%= form.submit "Criar", class: "submit-button" %>
    </div>

  <% end %>
</section>
