<section class='section-container align-center'>
  <h2 class='section-title'>Editar Filme</h2>

  <div class="error">
    <% if flash[:errors] %>
      <p>
        <%= flash[:errors] + format_errors(@errors, "movie") %>
      </p>
    <% end %>
  </div>

  <%= render partial: "form" %>
</section>
