<section class='section-container'>

  <div class='section-header'>
    <h2>Catálogo de Filmes</h2>
    <%= link_to "Adicionar filme", new_movie_path %>
  </div>

  <% if @movies.empty? %>
    <div class="no-content">
      <p class='no-content-message'>Nenhum filme cadastrado.</p>

      <br>

      <p class='be-the-first'>Seja o primeiro a cadastrar um filme no sistema.</p>
      <%= link_to "Adicionar um novo filme", new_movie_path %>
    </div>
  <% end %>

</section>
