<section class='section-container align-center'>
  <h2 class='section-title'>Editar Diretor </h2>

  <div class="error">
    <% if flash[:errors] %>
      <p>
        <%= flash[:errors] + format_errors(@errors, "director") %>
      </p>
    <% end %>
  </div>

  <%= render partial: "form" %>

</section>
