<section class='section-container'>

  <div class='section-header'>
    <h2>Catálogo de Diretores</h2>
    <%= link_to "Adicionar diretor", new_director_path %>
  </div>

  <% if @directors.empty? %>
    <div class="no-content">
      <p class='no-content-message'>Nenhum diretor cadastrado.</p>

      <br>

      <p class='be-the-first'>Seja o primeiro a cadastrar um diretor no sistema.</p>
      <%= link_to "Adicionar um novo diretor", new_director_path %>
    </div>
  <% end %>

</section>
