<section class='home-container'>
  <h2 class='home-title'>Bem vindos ao FilmClub!</h2>
  <p>Seu cat치logo de filmes na web</p>

  <div class='actions-container'>

    <%= link_to movies_path, title: "Cat치logo de Filmes" do %>
      <div class='see-movies-card'>
        <div>
          <h3>Cat치logo de Filmes</h3>
          <img src="/imgs/see-movies.webp">
        </div>

        Ver Cat치logo
      </div>
    <% end %>

    <%= link_to new_movie_path, title: "Adicionar novo filme" do %>
      <div class='add-movie-card'>
        <div>
          <h3>Novo Filme</h3>
          <img src="/imgs/add-movie.webp">
        </div>

        Adicionar Filme
      </div>
    <% end %>
  </div>

  </section>




