.directors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.directors-container h2 {
    margin: 20px;
    color: #fff;
}

.directors-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.single-director {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.single-director:hover {
    border: 1px solid #007bff;
}

.director-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.director-info h3 {
    margin: 0px 0px 15px 0px;
    font-size: 1.1rem;
    text-align: center;
}

.director-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
}

.btn-show-more,
.btn-edit,
.btn-delete {
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.btn-show-more {
    background-color: #007bff;
    width: 100%;
    margin-top: 10px;
}

.btn-show-more:hover {
    background-color: #0561c4;
    transform: scale(1.02);
}

.btn-edit {
    background-color: #c79600;
    width: 45%;
    flex: 1;
}

.btn-edit:hover {
    background-color: #a17800;
    transform: scale(1.02);
}

.btn-delete {
    background-color: #dc3545;
    width: 45%;
    flex: 1;
}

.btn-delete:hover {
    background-color: #b02a37;
    transform: scale(1.02);
}
