.new-director-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.new-director-container h2 {
    margin: 20px;
    color: #fff;
}

.new-director-container form {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 238, 245);
    padding: 20px 0px;
    flex-wrap: wrap;
    gap: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.7);
}

.new-director-container form div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.new-director-container form label {
    font-weight: 500;
    padding-left: 3px;
}

.new-director-container form input,
.new-director-container form select {
    border-radius: 3px;
    border: none;
    padding: 3px 5px;
    outline: none;
}

.director-name, .director-nacionality, .director-birthdate, .director-favorite-genre {
    width: 43%;
}

.submit-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    width: 88%;
    height: 30px;
}

.submit-button:hover {
    background-color: #0561c4;
    transform: scale(1.009);
}
